.header {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    .logo {
        height: 64px;
        line-height: 64px;
        font-size: 28px;
        font-weight: 600;
        font-size: 1px;
        img {
            width: 191px;
            height: 64px;
            display: inline-block;
            margin-left: -50px;
            margin-top: -8px;
        }
    }
}
.my-content{
    display: flex;
    justify-content: space-around;
    .ant-layout-sider{
        margin: 5px 5px;
    }
}
.ant-card-head-title{
    font-size: 18px;
    font-weight: 700;
    color: #444;
}

// .ant-layout{
//     margin-top: 5px;
// }